@media only screen 
and (min-width : 1224px) {
    /* Styles */

#userArt{
    height: 350px;
    width: 300px;
    grid-column: 1;
    float: left;
    
}

 #computerArt{
    height: 350px;
    width: 300px;
    grid-column: 12;
    float: right;
}

}